!!! 5
%html{ lang: I18n.locale }
  %head
    %meta{ charset: 'utf-8' }/
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1' }/

    - if cdn_host?
      %link{ rel: 'dns-prefetch', href: cdn_host }/

    - if storage_host?
      %link{ rel: 'dns-prefetch', href: storage_host }/

    %link{ rel: 'icon', href: favicon_path, type: 'image/x-icon' }/
    %link{ rel: 'apple-touch-icon', sizes: '180x180', href: '/apple-touch-icon.png' }/
    %link{ rel: 'mask-icon', href: '/mask-icon.svg', color: '#ff0078' }/
    %link{ rel: 'manifest', href: '/manifest.json' }/
    %link{ rel: 'stylesheet', href: 'https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700|Overpass:400,600,700&display=swap&subset=japanese,latin-ext' }/
    %meta{ name: 'msapplication-config', content: '/browserconfig.xml' }/
    %meta{ name: 'theme-color', content: '#ff0078' }/
    %meta{ name: 'apple-mobile-web-app-capable', content: 'yes' }/

    %title= content_for?(:page_title) ? safe_join([yield(:page_title).chomp.html_safe, title], ' - ') : title

    = stylesheet_pack_tag 'common', media: 'all'
    = stylesheet_pack_tag current_theme, media: 'all'
    = javascript_pack_tag 'common', integrity: true, crossorigin: 'anonymous'
    = javascript_pack_tag "locale_#{I18n.locale}", integrity: true, crossorigin: 'anonymous'
    = csrf_meta_tags

    - if Setting.custom_css.present?
      = stylesheet_link_tag custom_css_path, media: 'all'

    = yield :header_tags

  %body{ class: body_classes }
    .neko-body
      .neko-bg
        .neko-bg__left
        .neko-bg__content
          -# - if is_app?
          -#   = render partial: 'neko/app_topbar'
          -# - else
          -#   = render partial: 'neko/topbar'
          = content_for?(:content) ? yield(:content) : yield
        .neko-bg__right
