- content_for :header_tags do
  = javascript_pack_tag 'public', integrity: true, crossorigin: 'anonymous'

- content_for :content do
  .container-alt
    = render partial: 'neko/logobox'

    .form-container
      = render 'flashes'

      = yield

= render template: 'layouts/application'
